IA & Data science (LU3IN0226) -- 2020-2021
--------
*&copy; Equipe pédagogique: Vincent Guigue, Christophe Marsala, Edoardo Sarti, Olivier Schwander.*

## Projet 2021

### Préparation du notebook

<font size="+1" color="RED">**[Q]**</font> **Indiquer dans la boîte ci-dessous vos noms et prénoms :**

KRISNI Almehdi - 3800519

<font color="RED" size="+1">**[Q]**</font> **Renommer ce fichier ipython**

Tout en haut de cette page, cliquer sur <tt>projet-2021</tt> et rajouter à la suite de <tt>projet-2021</tt> les noms des membres du binômes séparés par un tiret.

Par exemple, pour le binôme Luke Skywalker et Han Solo, le nom de fichier devient `projet2021-Skywalker-Solo`

Penser à sauvegarder fréquemment le fichier en cours de travail :
- soit en cliquant sur l'icône "disquette"
- soit par la combinaison de touches [Ctrl]-S

## Données

Les données vous sont fournies sur le moodle. 
Ces données sont fournies sur Kaggle, ce sont les données *Google Play Store Apps* accessibles à l'adresse https://www.kaggle.com/lava18/google-play-store-apps.

Il est indispensable de lire en détail la page Kaggle pour comprendre à quoi ces données correspondent.

Le compte-rendu a fournir le jour de la dernière séance de TDTME de votre groupe doit comporter:
- un fichier PDF qui correspond à un poster sur lequel sont expliqués les différents problèmes traités, la façon dont ils ont été traités, et les résultats obtenus.
- un notebook par problème traité, vous pouvez traiter autant de problème que vous le souhaitez. Le problème étudié doit être décrit précisément et vous devez impérativement suivre le format ci-dessous.

Bien entendu, le tout sera mis dans un fichier archive (tar.gz ou zip exclusivement) et déposé sur le site Moodle.

## Imports

Dans cette partie du notebook, on effectue tout les import de modules allant etre utilisés dans le projet.

In [1]:
# Importation des librairies standards :
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  

# Importation de votre librairie iads :
# La ligne suivante permet de préciser le chemin d'accès à la librairie iads
import sys
sys.path.append('../') # iads doit être dans le répertoire frère du répertoire courant !

# Importation de la librairie iads
import iads as iads

# importation de Classifiers
from iads import Classifiers as cl

# importation de utils
from iads import utils as ut

# commande TRES utile pour recharger automatiquement le code que vous modifiez dans les modules
%load_ext autoreload
%autoreload 2

## Chargement et nettoyage des données

Dans les données à analyser, il existe des exemples ne pouvant pas etre utilisés puisque certains champs de ces exemples sont inutilisables. 
Par exemple, il peut s'agir de champs Nan ou de valeurs anormales (dans le champ Size de certains exemples, on a parfois la valeur 'Varies with device'). 
Il faut donc retirer ces exemples de la base de données en priorité.

On récupère les données :

In [2]:
gpsdf = pd.read_csv("data/GoogleApps/googleplaystore.csv")
gpsdf[0:5]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

Les différents champs des exemples de cette base de données sont :

In [3]:
for i in gpsdf.columns :
    print(i)
print("(" + str(len(gpsdf.columns)) + " champs différents)")

App
Category
Rating
Reviews
Size
Installs
Type
Price
Content Rating
Genres
Last Updated
Current Ver
Android Ver
(13 champs différents)

Le nombre d'exemples dans la base de données est de :

In [4]:
print(gpsdf.shape[0], "exemples")

10841 exemples

On affiche les informations relatives à chacun des champs de la base de données :

In [5]:
gpsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

On remarque que les champs Rating, Type, Content Rating, Current Ver ou Android Ver de certains exemples sont nuls. Il faut donc retirer ces exemples en priorité.

On s'occupe dans un premier temps de retirer toutes les exemples possedant des champs avec des valeurs Nan.

In [6]:
gpsdf = gpsdf.dropna()
gpsdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9360 non-null   object
 1   Category        9360 non-null   object
 2   Rating          9360 non-null   float64
 3   Reviews         9360 non-null   object
 4   Size            9360 non-null   object
 5   Installs        9360 non-null   object
 6   Type            9360 non-null   object
 7   Price           9360 non-null   object
 8   Content Rating  9360 non-null   object
 9   Genres          9360 non-null   object
 10  Last Updated    9360 non-null   object
 11  Current Ver     9360 non-null   object
 12  Android Ver     9360 non-null   object
dtypes: float64(1), object(12)
memory usage: 1023.8+ KB

Le nombre d'exemples dans la base de données est maintenant de 9360 exemples.

La fonction suivante permet de retirer le prefixe, le suffixe et d'autres éléments inutiles dans les champs des exemples de la base de données.

In [7]:
def clean_elements(column) :
    """ La fonction prend en argument une colonne de la base de données et la renvoie nettoyée
    """
    
    column = column.str.replace('+', '') # Suppression des symboles +
    column = column.str.replace(',', '') # Suppression des symboles ,
    column = column.str.replace('$', '') # Suppression des symboles $
    column = column.str.replace("'", '') # Suppression des symboles '
    
    return column

### Nettoyage de la colonne Category

On affiche les valeurs unique de la colonne Category.

In [8]:
gpsdf.loc[:,'Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

Afin que ces valeurs soient utilisables lors de l'apprentissage, on décide de diviser la colonne 'Category' en plusieurs colonnes différents. 
<br/>Chaque colonne permettra de savoir à quelle catégorie de 'Category' cette application appartient. 
<br/>(Par exemple, si une application a la valeur 1 dans son champ 'Category_GAME', cela signifie que l'application est destinée fait partie de la catégorie 'GAME').

In [9]:
gpsdf = pd.concat([gpsdf, pd.get_dummies(gpsdf['Category'], prefix='C')], axis=1)
gpsdf.drop(['Category'], axis=1, inplace=True)

On affiche l'état de la base de données après avoir réalisé la modification.

In [10]:
gpsdf.head()

,App,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,...,C_PERSONALIZATION,C_PHOTOGRAPHY,C_PRODUCTIVITY,C_SHOPPING,C_SOCIAL,C_SPORTS,C_TOOLS,C_TRAVEL_AND_LOCAL,C_VIDEO_PLAYERS,C_WEATHER
0,Photo Editor & Candy Camera & Grid & ScrapBook,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",...,0,0,0,0,0,0,0,0,0,0
1,Coloring book moana,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",...,0,0,0,0,0,0,0,0,0,0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",...,0,0,0,0,0,0,0,0,0,0
3,Sketch - Draw & Paint,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",...,0,0,0,0,0,0,0,0,0,0
4,Pixel Draw - Number Art Coloring Book,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",...,0,0,0,0,0,0,0,0,0,0

### Nettoyage de la colonne Rating

On affiche les valeurs uniques de la colonne Rating. Il s'agit de flottants donc ces valeurs peut etre directement utilisées.

In [11]:
gpsdf.loc[:,'Rating'].unique()

array([4.1, 3.9, 4.7, 4.5, 4.3, 4.4, 3.8, 4.2, 4.6, 4. , 4.8, 4.9, 3.6,
       3.7, 3.2, 3.3, 3.4, 3.5, 3.1, 5. , 2.6, 3. , 1.9, 2.5, 2.8, 2.7,
       1. , 2.9, 2.3, 2.2, 1.7, 2. , 1.8, 2.4, 1.6, 2.1, 1.4, 1.5, 1.2])

### Nettoyage de la colonne Reviews

On affiche les valeurs uniques de la colonne Reviews.

In [12]:
gpsdf.loc[:,'Reviews'].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

On souhaite également transformer les valeurs de Reviews en entier afin de faciliter leurs utilisations lors de l'apprentissage (elles sont pour l'instant au format String).
<br/>On utilise pour cela la fonction to_numeric de la bibliothèque pandas.

In [13]:
gpsdf['Reviews'] = pd.to_numeric(gpsdf['Reviews'])
gpsdf.loc[:,'Reviews'].unique()

array([   159,    967,  87510, ...,    603,   1195, 398307])

### Nettoyage de la colonne Size

On affiche les valeurs uniques de la colonne Size.

In [14]:
gpsdf.loc[:,'Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '5.5M', '17M', '39M', '31M',
       '4.2M', '23M', '6.0M', '6.1M', '4.6M', '9.2M', '5.2M', '11M',
       '24M', 'Varies with device', '9.4M', '15M', '10M', '1.2M', '26M',
       '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k', '3.6M', '5.7M',
       '8.6M', '2.4M', '27M', '2.7M', '2.5M', '7.0M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '22M', '6.4M', '3.2M', '8.2M', '4.9M', '9.5M', '5.0M',
       '5.9M', '13M', '73M', '6.8M', '3.5M', '4.0M', '2.3M', '2.1M',
       '42M', '9.1M', '55M', '23k', '7.3M', '6.5M', '1.5M', '7.5M', '51M',
       '41M', '48M', '8.5M', '46M', '8.3M', '4.3M', '4.7M', '3.3M', '40M',
       '7.8M', '8.8M', '6.6M', '5.1M', '61M', '66M', '79k', '8.4M',
       '3.7M', '118k', '44M', '695k', '1.6M', '6.2M', '53M', '1.4M',
       '3.0M', '7.2M', '5.8M', '3.8M', '9.6M', '45M', '63M', '49M', '77M',
       '4.4M', '70M', '9.3M', '8.1M', '36M', '6.9M', '7.4M', '84M', '97M',
       '2.0M', '1.9M', '1.8M', '5.3M', '47M', '556k', '526k', '76M',
       '7.6M', '59M', '9.7M', '78M', '72M', '43M', '7.7M', '6.3M', '334k',
       '93M', '65M', '79M', '100M', '58M', '50M', '68M', '64M', '34M',
       '67M', '60M', '94M', '9.9M', '232k', '99M', '624k', '95M', '8.5k',
       '41k', '292k', '80M', '1.7M', '10.0M', '74M', '62M', '69M', '75M',
       '98M', '85M', '82M', '96M', '87M', '71M', '86M', '91M', '81M',
       '92M', '83M', '88M', '704k', '862k', '899k', '378k', '4.8M',
       '266k', '375k', '1.3M', '975k', '980k', '4.1M', '89M', '696k',
       '544k', '525k', '920k', '779k', '853k', '720k', '713k', '772k',
       '318k', '58k', '241k', '196k', '857k', '51k', '953k', '865k',
       '251k', '930k', '540k', '313k', '746k', '203k', '26k', '314k',
       '239k', '371k', '220k', '730k', '756k', '91k', '293k', '17k',
       '74k', '14k', '317k', '78k', '924k', '818k', '81k', '939k', '169k',
       '45k', '965k', '90M', '545k', '61k', '283k', '655k', '714k', '93k',
       '872k', '121k', '322k', '976k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '306k', '175k', '350k', '383k', '454k',
       '1.0M', '70k', '812k', '442k', '842k', '417k', '412k', '459k',
       '478k', '335k', '782k', '721k', '430k', '429k', '192k', '460k',
       '728k', '496k', '816k', '414k', '506k', '887k', '613k', '778k',
       '683k', '592k', '186k', '840k', '647k', '373k', '437k', '598k',
       '716k', '585k', '982k', '219k', '55k', '323k', '691k', '511k',
       '951k', '963k', '25k', '554k', '351k', '27k', '82k', '208k',
       '551k', '29k', '103k', '116k', '153k', '209k', '499k', '173k',
       '597k', '809k', '122k', '411k', '400k', '801k', '787k', '50k',
       '643k', '986k', '516k', '837k', '780k', '20k', '498k', '600k',
       '656k', '221k', '228k', '176k', '34k', '259k', '164k', '458k',
       '629k', '28k', '288k', '775k', '785k', '636k', '916k', '994k',
       '309k', '485k', '914k', '903k', '608k', '500k', '54k', '562k',
       '847k', '948k', '811k', '270k', '48k', '523k', '784k', '280k',
       '24k', '892k', '154k', '18k', '33k', '860k', '364k', '387k',
       '626k', '161k', '879k', '39k', '170k', '141k', '160k', '144k',
       '143k', '190k', '376k', '193k', '473k', '246k', '73k', '253k',
       '957k', '420k', '72k', '404k', '470k', '226k', '240k', '89k',
       '234k', '257k', '861k', '467k', '676k', '552k', '582k', '619k'],
      dtype=object)

La valeur 'Varies with device' ne pouvant pas etre utilisée lors de l'apprentissage, on décide de supprime tout les exemples de la base de données dont la valeur du champ Size est 'Varies with device'.

In [15]:
gpsdf.drop(gpsdf[gpsdf['Size'] == "Varies with device"].index, inplace=True)

Le nombre d'exemples dans la base de données est désormais de :

In [16]:
print(gpsdf.shape[0], "exemples")

7723 exemples

On aimerait que ces valeurs soit des flottants et non pas des String. On suppose que les 'M' représente les mega-octets et 'k' les kilo-octets.
<br/>On effectue alors une modification générale sur tout les champs Size des exemples de la base de données. <br/>On décide de garder comme valeur la taille en mega-octets de l'application.

In [17]:
size_data = gpsdf['Size'].loc[gpsdf['Size'].str.contains('k')].index.tolist()
convert_data = pd.DataFrame(gpsdf.loc[size_data, 'Size'].apply(lambda x : x.strip('k')).astype(float).apply(lambda x : x/1024).apply(lambda x : round(x, 3)).astype(str))
gpsdf.loc[size_data, 'Size'] = convert_data

gpsdf['Size'] = gpsdf['Size'].apply(lambda x:x.strip('M'))
gpsdf['Size'] = gpsdf['Size'].astype(float)

On affiche les valeurs uniques de la colonne Size après modification.

In [18]:
gpsdf.loc[:,'Size'].unique()

array([1.90e+01, 1.40e+01, 8.70e+00, 2.50e+01, 2.80e+00, 5.60e+00,
       2.90e+01, 3.30e+01, 3.10e+00, 2.80e+01, 1.20e+01, 2.00e+01,
       2.10e+01, 3.70e+01, 5.50e+00, 1.70e+01, 3.90e+01, 3.10e+01,
       4.20e+00, 2.30e+01, 6.00e+00, 6.10e+00, 4.60e+00, 9.20e+00,
       5.20e+00, 1.10e+01, 2.40e+01, 9.40e+00, 1.50e+01, 1.00e+01,
       1.20e+00, 2.60e+01, 8.00e+00, 7.90e+00, 5.60e+01, 5.70e+01,
       3.50e+01, 5.40e+01, 1.96e-01, 3.60e+00, 5.70e+00, 8.60e+00,
       2.40e+00, 2.70e+01, 2.70e+00, 2.50e+00, 7.00e+00, 1.60e+01,
       3.40e+00, 8.90e+00, 3.90e+00, 2.90e+00, 3.80e+01, 3.20e+01,
       5.40e+00, 1.80e+01, 1.10e+00, 2.20e+00, 4.50e+00, 9.80e+00,
       5.20e+01, 9.00e+00, 6.70e+00, 3.00e+01, 2.60e+00, 7.10e+00,
       2.20e+01, 6.40e+00, 3.20e+00, 8.20e+00, 4.90e+00, 9.50e+00,
       5.00e+00, 5.90e+00, 1.30e+01, 7.30e+01, 6.80e+00, 3.50e+00,
       4.00e+00, 2.30e+00, 2.10e+00, 4.20e+01, 9.10e+00, 5.50e+01,
       2.20e-02, 7.30e+00, 6.50e+00, 1.50e+00, 7.50e+00, 5.10e+01,
       4.10e+01, 4.80e+01, 8.50e+00, 4.60e+01, 8.30e+00, 4.30e+00,
       4.70e+00, 3.30e+00, 4.00e+01, 7.80e+00, 8.80e+00, 6.60e+00,
       5.10e+00, 6.10e+01, 6.60e+01, 7.70e-02, 8.40e+00, 3.70e+00,
       1.15e-01, 4.40e+01, 6.79e-01, 1.60e+00, 6.20e+00, 5.30e+01,
       1.40e+00, 3.00e+00, 7.20e+00, 5.80e+00, 3.80e+00, 9.60e+00,
       4.50e+01, 6.30e+01, 4.90e+01, 7.70e+01, 4.40e+00, 7.00e+01,
       9.30e+00, 8.10e+00, 3.60e+01, 6.90e+00, 7.40e+00, 8.40e+01,
       9.70e+01, 2.00e+00, 1.90e+00, 1.80e+00, 5.30e+00, 4.70e+01,
       5.43e-01, 5.14e-01, 7.60e+01, 7.60e+00, 5.90e+01, 9.70e+00,
       7.80e+01, 7.20e+01, 4.30e+01, 7.70e+00, 6.30e+00, 3.26e-01,
       9.30e+01, 6.50e+01, 7.90e+01, 1.00e+02, 5.80e+01, 5.00e+01,
       6.80e+01, 6.40e+01, 3.40e+01, 6.70e+01, 6.00e+01, 9.40e+01,
       9.90e+00, 2.27e-01, 9.90e+01, 6.09e-01, 9.50e+01, 8.00e-03,
       4.00e-02, 2.85e-01, 8.00e+01, 1.70e+00, 7.40e+01, 6.20e+01,
       6.90e+01, 7.50e+01, 9.80e+01, 8.50e+01, 8.20e+01, 9.60e+01,
       8.70e+01, 7.10e+01, 8.60e+01, 9.10e+01, 8.10e+01, 9.20e+01,
       8.30e+01, 8.80e+01, 6.88e-01, 8.42e-01, 8.78e-01, 3.69e-01,
       4.80e+00, 2.60e-01, 3.66e-01, 1.30e+00, 9.52e-01, 9.57e-01,
       4.10e+00, 8.90e+01, 6.80e-01, 5.31e-01, 5.13e-01, 8.98e-01,
       7.61e-01, 8.33e-01, 7.03e-01, 6.96e-01, 7.54e-01, 3.11e-01,
       5.70e-02, 2.35e-01, 1.91e-01, 8.37e-01, 5.00e-02, 9.31e-01,
       8.45e-01, 2.45e-01, 9.08e-01, 5.27e-01, 3.06e-01, 7.29e-01,
       1.98e-01, 2.50e-02, 3.07e-01, 2.33e-01, 3.62e-01, 2.15e-01,
       7.13e-01, 7.38e-01, 8.90e-02, 2.86e-01, 1.70e-02, 7.20e-02,
       1.40e-02, 3.10e-01, 7.60e-02, 9.02e-01, 7.99e-01, 7.90e-02,
       9.17e-01, 1.65e-01, 4.40e-02, 9.42e-01, 9.00e+01, 5.32e-01,
       6.00e-02, 2.76e-01, 6.40e-01, 6.97e-01, 9.10e-02, 8.52e-01,
       1.18e-01, 3.14e-01, 9.53e-01, 2.01e-01, 9.32e-01, 4.34e-01,
       7.00e-01, 2.05e-01, 5.95e-01, 3.01e-01, 2.99e-01, 1.71e-01,
       3.42e-01, 3.74e-01, 4.43e-01, 1.00e+00, 6.80e-02, 7.93e-01,
       4.32e-01, 8.22e-01, 4.07e-01, 4.02e-01, 4.48e-01, 4.67e-01,
       3.27e-01, 7.64e-01, 7.04e-01, 4.20e-01, 4.19e-01, 1.88e-01,
       4.49e-01, 7.11e-01, 4.84e-01, 7.97e-01, 4.04e-01, 4.94e-01,
       8.66e-01, 5.99e-01, 7.60e-01, 6.67e-01, 5.78e-01, 1.82e-01,
       8.20e-01, 6.32e-01, 3.64e-01, 4.27e-01, 5.84e-01, 6.99e-01,
       5.71e-01, 9.59e-01, 2.14e-01, 5.40e-02, 3.15e-01, 6.75e-01,
       4.99e-01, 9.29e-01, 9.40e-01, 2.40e-02, 5.41e-01, 3.43e-01,
       2.60e-02, 8.00e-02, 2.03e-01, 5.38e-01, 2.80e-02, 1.01e-01,
       1.13e-01, 1.49e-01, 2.04e-01, 4.87e-01, 1.69e-01, 5.83e-01,
       7.90e-01, 1.19e-01, 4.01e-01, 3.91e-01, 7.82e-01, 7.69e-01,
       4.90e-02, 6.28e-01, 9.63e-01, 5.04e-01, 8.17e-01, 7.62e-01,
       2.00e-02, 4.86e-01, 5.86e-01, 6.41e-01, 2.16e-01, 2.23e-01,
       1.72e-01, 3.30e-02, 2.53e-01, 1.60e-01, 4.47e-01, 6.14e-01,
       2.70e-02, 2.81e-01, 7.57e-01, 7.67e-01, 6.21e-01, 8.95e-01,
       9.71e-01, 3.02e-01, 4.74e-01, 8.93e-01, 8.82e-01, 5.94e-01,
       4.88e-01, 5.30e-02, 5.49e-01, 8.27e-01, 9.26e-01, 7.92e-01,
       2.64e-01, 4.70e-02, 5.11e-01, 7.66e-01, 2.73e-01, 2.30e-02,
       8.71e-01, 1.50e-01, 1.80e-02, 3.20e-02, 8.40e-01, 3.55e-01,
       3.78e-01, 6.11e-01, 1.57e-01, 8.58e-01, 3.80e-02, 1.66e-01,
       1.38e-01, 1.56e-01, 1.41e-01, 1.40e-01, 1.86e-01, 3.67e-01,
       4.62e-01, 2.40e-01, 7.10e-02, 2.47e-01, 9.35e-01, 4.10e-01,
       7.00e-02, 3.95e-01, 4.59e-01, 2.21e-01, 2.34e-01, 8.70e-02,
       2.29e-01, 2.51e-01, 8.41e-01, 4.56e-01, 6.60e-01, 5.39e-01,
       5.68e-01, 6.04e-01])

### Nettoyage de la colonne Installs

Dans la colonne Installs, les données sont représentées sous la forme "valeur"+ et la valeur est parfois séparée par des virgules. On préfère garder uniquement la valeur et retirer le symbole +. On fait donc appel à la fonction remove_elements sur la colonne.

Les éléments uniques de la colonne Installs avant l'utilisation de la fonction sont :

In [19]:
gpsdf.loc[:,'Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000+', '500,000,000+', '100+', '500+', '10+', '1,000,000,000+',
       '5+', '50+', '1+'], dtype=object)

In [20]:
gpsdf['Installs'] = clean_elements(gpsdf['Installs'])

<ipython-input-7-3b54758a420a>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  column = column.str.replace('+', '') # Suppression des symboles +
<ipython-input-7-3b54758a420a>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  column = column.str.replace('$', '') # Suppression des symboles $

Les éléments uniques de la colonne Installs après l'utilisation de la fonction sont :

In [21]:
gpsdf.loc[:,'Installs'].unique()

array(['10000', '500000', '5000000', '50000000', '100000', '50000',
       '1000000', '10000000', '5000', '100000000', '1000', '500000000',
       '100', '500', '10', '1000000000', '5', '50', '1'], dtype=object)

On souhaite également transformer les valeurs de Installs en entier afin de faciliter leurs utilisations lors de l'apprentissage (elles sont pour l'instant au format String).
<br/>On utilise pour cela la fonction to_numeric de la bibliothèque pandas.

In [22]:
gpsdf['Installs'] = pd.to_numeric(gpsdf['Installs'])
gpsdf.loc[:,'Installs'].unique()

array([     10000,     500000,    5000000,   50000000,     100000,
            50000,    1000000,   10000000,       5000,  100000000,
             1000,  500000000,        100,        500,         10,
       1000000000,          5,         50,          1])

### Nettoyage de la colonne Type

On affiche les valeurs uniques de la colonne Type.

In [23]:
gpsdf.loc[:,'Type'].unique()

array(['Free', 'Paid'], dtype=object)

Afin que ces données soient utilisables lors de l'apprentissage, on décide de représenter la valeur 'Free' par la valeur 0 et la valeur 'Paid' par la valeur 1.

In [24]:
gpsdf.loc[:,'Type'] = gpsdf.loc[:,'Type'].apply(lambda x : 0 if (x == 'Free') else 1)

On affiche les valeurs uniques de la colonne Type après modification.

In [25]:
gpsdf.loc[:,'Type'].unique()

array([0, 1])

### Nettoyage de la colonne Price

On affiche les valeurs uniques de la colonne Price.

In [26]:
gpsdf.loc[:,'Price'].unique()

array(['0', '$4.99', '$6.99', '$7.99', '$3.99', '$5.99', '$2.99', '$1.99',
       '$9.99', '$0.99', '$9.00', '$5.49', '$10.00', '$24.99', '$11.99',
       '$79.99', '$16.99', '$14.99', '$29.99', '$12.99', '$3.49',
       '$10.99', '$7.49', '$1.50', '$19.99', '$15.99', '$33.99', '$39.99',
       '$2.49', '$4.49', '$1.70', '$1.49', '$3.88', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$1.59',
       '$6.49', '$1.29', '$299.99', '$379.99', '$37.99', '$18.99',
       '$389.99', '$8.49', '$1.75', '$14.00', '$2.00', '$3.08', '$2.59',
       '$19.40', '$15.46', '$8.99', '$3.04', '$13.99', '$4.29', '$3.28',
       '$4.60', '$1.00', '$2.90', '$1.97', '$2.56', '$1.20'], dtype=object)

Afin que ces valeurs soient utilisables lors de l'apprentissage, on décide de retirer les symboles '$' et de les convertir en flottant.

In [27]:
gpsdf['Price'] = clean_elements(gpsdf['Price'])
gpsdf['Price'] = pd.to_numeric(gpsdf['Price'])

<ipython-input-7-3b54758a420a>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  column = column.str.replace('+', '') # Suppression des symboles +
<ipython-input-7-3b54758a420a>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  column = column.str.replace('$', '') # Suppression des symboles $

On affiche les valeurs uniques de la colonne Price après modification.

In [28]:
gpsdf.loc[:,'Price'].unique()

array([  0.  ,   4.99,   6.99,   7.99,   3.99,   5.99,   2.99,   1.99,
         9.99,   0.99,   9.  ,   5.49,  10.  ,  24.99,  11.99,  79.99,
        16.99,  14.99,  29.99,  12.99,   3.49,  10.99,   7.49,   1.5 ,
        19.99,  15.99,  33.99,  39.99,   2.49,   4.49,   1.7 ,   1.49,
         3.88, 399.99,  17.99, 400.  ,   3.02,   1.76,   4.84,   4.77,
         1.61,   1.59,   6.49,   1.29, 299.99, 379.99,  37.99,  18.99,
       389.99,   8.49,   1.75,  14.  ,   2.  ,   3.08,   2.59,  19.4 ,
        15.46,   8.99,   3.04,  13.99,   4.29,   3.28,   4.6 ,   1.  ,
         2.9 ,   1.97,   2.56,   1.2 ])

### Nettoyage de la colonne Content Rating

On affiche les valeurs uniques de la colonne Content Rating.

In [29]:
gpsdf.loc[:,'Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

Afin que ces valeurs soient utilisables lors de l'apprentissage, on décide de diviser la colonne 'Content Rating' en plusieurs colonnes différents. 
<br/>Chaque colonne permettra de savoir à quelle catégorie de 'Content Rating' cette application appartient.
<br/>(Par exemple, si une application a la valeur 1 dans son champ 'CR_Everyone', cela signifie que l'application est destinée à tout les public, soit 'Everyone').

In [30]:
gpsdf = pd.concat([gpsdf, pd.get_dummies(gpsdf['Content Rating'], prefix='CR')], axis=1)
gpsdf.drop(['Content Rating'], axis=1, inplace=True)

On affiche l'état de la base de données après avoir réalisé la modification.

In [31]:
gpsdf.head()

,App,Rating,Reviews,Size,Installs,Type,Price,Genres,Last Updated,Current Ver,...,C_TOOLS,C_TRAVEL_AND_LOCAL,C_VIDEO_PLAYERS,C_WEATHER,CR_Adults only 18+,CR_Everyone,CR_Everyone 10+,CR_Mature 17+,CR_Teen,CR_Unrated
0,Photo Editor & Candy Camera & Grid & ScrapBook,4.1,159,19.0,10000,0,0.0,Art & Design,"January 7, 2018",1.0.0,...,0,0,0,0,0,1,0,0,0,0
1,Coloring book moana,3.9,967,14.0,500000,0,0.0,Art & Design;Pretend Play,"January 15, 2018",2.0.0,...,0,0,0,0,0,1,0,0,0,0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",4.7,87510,8.7,5000000,0,0.0,Art & Design,"August 1, 2018",1.2.4,...,0,0,0,0,0,1,0,0,0,0
3,Sketch - Draw & Paint,4.5,215644,25.0,50000000,0,0.0,Art & Design,"June 8, 2018",Varies with device,...,0,0,0,0,0,0,0,0,1,0
4,Pixel Draw - Number Art Coloring Book,4.3,967,2.8,100000,0,0.0,Art & Design;Creativity,"June 20, 2018",1.1,...,0,0,0,0,0,1,0,0,0,0

### Nettoyage des colonnes Application, Genres, Last Updated, Current Ver et Android Ver

Aucune modification ne sera effectuée au niveau de ces colonnes puisque leurs données ne seront pas utilisées lors de l'apprentissage.

## Apercu des données importantes

## Partie 1 - Description du problème

## Partie 2 - Modèle

## Partie 3 - Code

## Partie 4 - Protocole expérimental

## Partie 5 - Résultats

## Partie 6 - Analyse